<?xml version="1.0" encoding="utf-8"?>
<Config>
  <SubmissionsFileUri>SubmissionData.xml</SubmissionsFileUri>
  <VideoMarker>videoMarker.svg</VideoMarker>
  <PollMarker>pollMarker.svg</PollMarker>
  <Tangibles>
    <Tangible>
      <Type>viewpoint</Type>
      <TagId>4</TagId>
      <Name>Democrat</Name>
      <file>partyFilter_blue.svg</file>
      <Color>29,113,184</Color>
      <selectorFile>partySelector_blue.svg</selectorFile>
      <Rotation>
        <Facet>
          <Type>single</Type>
          <Label>All Democrats</Label>
          <QuestionId>49</QuestionId>
          <AnswerIds>1,2</AnswerIds>
          <Color>29,113,184</Color>
        </Facet>
        <Facet>
          <Type>single</Type>
          <Label>Strong Democrat</Label>
          <QuestionId>49</QuestionId>
          <AnswerIds>1</AnswerIds>
          <Color>29,113,184</Color>
        </Facet>
        <Facet>
          <Type>single</Type>
          <Label>Democrat</Label>
          <QuestionId>49</QuestionId>
          <AnswerIds>2</AnswerIds>
          <Color>29,113,184</Color>
        </Facet>
      </Rotation>
    </Tangible>
    <Tangible>
      <Type>viewpoint</Type>
      <TagId>36</TagId>
      <Name>Republican</Name>
      <file>partyFilter_red.svg</file>
      <Color>227,6,19</Color>
      <selectorFile>partySelector_red.svg</selectorFile>
      <Rotation>
        <Facet>
          <Type>single</Type>
          <Label>All Republicans</Label>
          <QuestionId>49</QuestionId>
          <AnswerIds>6,7</AnswerIds>
          <Color>227,6,1</Color>
        </Facet>
        <Facet>
          <Type>single</Type>
          <Label>Strong Republican</Label>
          <QuestionId>49</QuestionId>
          <AnswerIds>6</AnswerIds>
          <Color>227,6,19</Color>
        </Facet>
        <Facet>
          <Type>single</Type>
          <Label>Republican</Label>
          <QuestionId>49</QuestionId>
          <AnswerIds>7</AnswerIds>
          <Color>227,6,1</Color>
        </Facet>
      </Rotation>
    </Tangible>
    <Tangible>
      <Type>viewpoint</Type>
      <TagId>32</TagId>
      <Name>Inpdependent</Name>
      <file>partyFilter_yellow.svg</file>
      <Color>255,237,0</Color>
      <selectorFile>partySelector_yellow.svg</selectorFile>
      <Rotation>
        <Facet>
          <Type>single</Type>
          <QuestionId>49</QuestionId>
          <AnswerIds>3,4,5</AnswerIds>
          <Label>All Democrats</Label>
          <Color>255,237,0</Color>
        </Facet>
        <Facet>
          <Type>single</Type>
          <QuestionId>49</QuestionId>
          <AnswerIds>3</AnswerIds>
          <Label>Ind - Lean Democrat</Label>
          <Color>255,237,0</Color>
        </Facet>
        <Facet>
          <Type>single</Type>
          <QuestionId>49</QuestionId>
          <AnswerIds>4</AnswerIds>
          <Label>Independent</Label>
          <Color>255,237,0</Color>
        </Facet>
        <Facet>
          <Type>single</Type>
          <QuestionId>49</QuestionId>
          <AnswerIds>5</AnswerIds>
          <Label>Ind - Lean Republican</Label>
          <Color>255,237,0</Color>+
        </Facet>
      </Rotation>
    </Tangible>
    <Tangible>
      <Type>axisStart</Type>
      <TagId>2</TagId>
      <Name>xAxisStart</Name>
      <file>0</file>
      <Color>0</Color>
      <selectorFile>0</selectorFile>
      <Rotation>
        <Facet>
          <Label>Income</Label>
          <Type>interval</Type>
          <QuestionId>46</QuestionId>
          <AnswerIds>1,2,3,4,5,6,7,8</AnswerIds>
          <Range>
            <StartValue>1</StartValue>
            <EndValue>8</EndValue>
            <Increment>1</Increment>
          </Range>
        </Facet>
        <Facet>
          <Label>Occupation</Label>
          <Type>nominal</Type>
          <QuestionId>81</QuestionId>
          <AnswerIds>1,2,3,4,5,6,7,8</AnswerIds>
          <Range>
            <StartValue>1</StartValue>
            <EndValue>8</EndValue>
            <Increment>1</Increment>
          </Range>
        </Facet>
        <Facet>
          <Label>Economy Better or Worse?</Label>
          <Type>nominal</Type>
          <QuestionId>47</QuestionId>
          <AnswerIds>1,2,3,4</AnswerIds>
          <Range>
            <StartValue>1</StartValue>
            <EndValue>4</EndValue>
            <Increment>1</Increment>
          </Range>
        </Facet>
      </Rotation>
    </Tangible>
    <Tangible>
      <Type>axisEnd</Type>
      <TagId>46</TagId>
      <Name>xAxisEnd</Name>
      <file>0</file>
      <Color>0</Color>
      <selectorFile>0</selectorFile>
    </Tangible>
    <Tangible>
      <Type>axisStart</Type>
      <TagId>8</TagId>
      <Name>yAxisStart</Name>
      <file>0</file>
      <Color>0</Color>
      <selectorFile>0</selectorFile>
      <Rotation>
        <Facet>
          <Label>Age</Label>
          <Type>ratio</Type>
          <QuestionId>4</QuestionId>
          <Range>
            <StartValue>0</StartValue>
            <EndValue>100 </EndValue>
            <Increment>1</Increment>
          </Range>
        </Facet>
        <Facet>
          <Label>Obama or Romney</Label>
          <Type>nominal</Type>
          <QuestionId>5</QuestionId>
          <AnswerIds>1,2,3,4,5,6,7</AnswerIds>
          <Range>
            <StartValue>1</StartValue>
            <EndValue>7</EndValue>
            <Increment>1</Increment>
          </Range>
        </Facet>
      </Rotation>
    </Tangible>
    <Tangible>
      <Type>axisEnd</Type>
      <TagId>42</TagId>
      <Name>yAxisEnd</Name>
      <file>0</file>
      <Color>0</Color>
      <selectorFile>0</selectorFile>
    </Tangible>
    <Tangible>
      <Type>questionChanger</Type>
      <TagId>100</TagId>
      <Name>Q?</Name>
      <file>0</file>
      <Color>0</Color>
      <selectorFile>0</selectorFile>
      <Rotation>
        <Facet>
          <Label>Question 48</Label>
          <Type>simple</Type>
          <QuestionId>48</QuestionId>
          <AnswerIds></AnswerIds>
        </Facet>
        <Facet>
          <Label>Question 88</Label>
          <Type>simple</Type>
          <QuestionId>88</QuestionId>
          <AnswerIds></AnswerIds>
        </Facet>
      </Rotation>
    </Tangible>
    <Tangible>
      <Type>answerChanger</Type>
      <TagId>200</TagId>
      <Name>A's</Name>
      <file>0</file>
      <Color>0</Color>
      <selectorFile>0</selectorFile>
      <Rotation>  
        <Facet>
        </Facet>
      </Rotation>
    </Tangible>
    <Tangible>
      <Type>tagger</Type>
      <TagId>300</TagId>
      <Name>tag&amp;compare</Name>
      <file>0</file>
      <Color>0</Color>
      <selectorFile>0</selectorFile>
    </Tangible>
  </Tangibles>
  <Questions>
    <Question>
      <QuestionId>88</QuestionId>
      <QuestionText>What's Your Priority Issue?</QuestionText>
      <Answers>
        <Answer>
          <AnswerId>1</AnswerId>
          <AnswerText>Job creation</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>2</AnswerId>
          <AnswerText>Health care</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>3</AnswerId>
          <AnswerText>Deficit &amp; gov spending</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>4</AnswerId>
          <AnswerText>Energy costs</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>5</AnswerId>
          <AnswerText>Immigration</AnswerText>
        </Answer>
      </Answers>
    </Question>
    <Question>
      <QuestionId>48</QuestionId>
      <QuestionText>Boost Economy or Reduce Deficity?</QuestionText>
      <Answers>
        <Answer>
          <AnswerId>1 </AnswerId>
          <AnswerText>Boost the economy</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>2 </AnswerId>
          <AnswerText>Reduce the deficit</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>3 </AnswerId>
          <AnswerText>Depends</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>4</AnswerId>
          <AnswerText>Both</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>5</AnswerId>
          <AnswerText>Not sure</AnswerText>
        </Answer>
      </Answers>
    </Question>
    <Question>
      <QuestionId>5</QuestionId>
      <QuestionText>Vote Obama or Romney?</QuestionText>
      <Answers>
        <Answer>
          <AnswerId>1 </AnswerId>
          <AnswerText>Obama</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>2 </AnswerId>
          <AnswerText>Likely Obama</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>3</AnswerId>
          <AnswerText>Leaning Obama</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>4 </AnswerId>
          <AnswerText>Undecided</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>5 </AnswerId>
          <AnswerText>Leaning Romney</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>6</AnswerId>
          <AnswerText>Likely Romney</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>7</AnswerId>
          <AnswerText>Romney</AnswerText>
        </Answer>
      </Answers>
    </Question>
    <Question>
      <QuestionId>47</QuestionId>
      <QuestionText>Economy in 6 months: Better or Worse?</QuestionText>
      <Answers>
        <Answer>
          <AnswerId>1</AnswerId>
          <AnswerText>Get Better</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>2</AnswerId>
          <AnswerText>Get Worse</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>3</AnswerId>
          <AnswerText>Stay Same</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>4</AnswerId>
          <AnswerText>Not Sure</AnswerText>
        </Answer>
      </Answers>
    </Question>
    <Question>
      <QuestionId>49</QuestionId>
      <QuestionText>PARTY</QuestionText>
      <Answers>
        <Answer>
          <AnswerId>1</AnswerId>
          <AnswerText>Strong Democrat</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>2</AnswerId>
          <AnswerText>Democrat</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>3</AnswerId>
          <AnswerText>Ind - Lean Democrat</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>4</AnswerId>
          <AnswerText>Independent</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>5</AnswerId>
          <AnswerText>Ind - Lean Republican</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>6</AnswerId>
          <AnswerText>Republican</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>7</AnswerId>
          <AnswerText>Strong Republican</AnswerText>
        </Answer>
      </Answers>
    </Question>
    <Question>
      <QuestionId>46</QuestionId>
      <QuestionText>INCOME</QuestionText>
      <Answers>
        <Answer>
          <AnswerId>1</AnswerId>
          <AnswerText>&lt; $10k</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>2</AnswerId>
          <AnswerText>10-20k</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>3</AnswerId>
          <AnswerText>20-30k</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>4</AnswerId>
          <AnswerText>30-40k</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>5</AnswerId>
          <AnswerText>40-50k</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>6</AnswerId>
          <AnswerText>50-75k</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>7</AnswerId>
          <AnswerText>75-100k</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>8</AnswerId>
          <AnswerText>&gt; $100k</AnswerText>
        </Answer>
      </Answers>
    </Question>
    <Question>
      <QuestionId>81</QuestionId>
      <QuestionText>OCCUPATION</QuestionText>
      <Answers>
        <Answer>
          <AnswerId>1</AnswerId>
          <AnswerText>Professional</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>2</AnswerId>
          <AnswerText>White Collar</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>3</AnswerId>
          <AnswerText>Blue Collar</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>4</AnswerId>
          <AnswerText>Farmer/Rancher</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>5</AnswerId>
          <AnswerText>Student</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>6</AnswerId>
          <AnswerText>Homemaker</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>7</AnswerId>
          <AnswerText>Retiree</AnswerText>
        </Answer>
        <Answer>
          <AnswerId>8</AnswerId>
          <AnswerText>Unemployed</AnswerText>
        </Answer>
      </Answers>
    </Question>
    <Question>
      <QuestionId>4</QuestionId>
      <QuestionText>AGE</QuestionText>
      <Answers>
        <Range>0-100</Range>
      </Answers>
    </Question>
  </Questions>
</Config>